themer-panel {
  --button-color--ghost: var(--color-8);

  display: block;
  padding-bottom: 1em;
  text-align: right;

  .c-overlay[aria-hidden] {
    display: none;
  }

  aside.o-drawer {
    position: fixed;
    text-align: left;
  }
}
