@import 'node_modules/@blaze/css/src/scss/blaze';
@import 'node_modules/@blaze/css/src/scss/mixins/tools.mediaqueries';
@import 'node_modules/@blaze/css/src/scss/mixins/utilities.visibility';

:root {
  --text-font-family-sans-serif: avenir, sans-serif;
}

body {
  overflow-x: hidden;
}

.c-skip-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-over-everything);

  @include visually-hidden;

  &:active,
  &:focus {
    width: auto;
    height: auto;
    overflow: auto;
    clip-path: none;
  }
}

.c-button--nude {
  color: inherit;
  background-color: transparent;
  border: 0;
}

.c-button--nude:not(:disabled):hover,
.c-button--nude:not(:disabled):active {
  background-color: transparent;
}

.u-text {
  color: #2c3e50;
  font-weight: 300;
}

.c-heading[id] a {
  font-size: 0.6em;
  vertical-align: middle;
}

site-header {
  .o-page-header {
    position: relative;
    padding: var(--spacing-medium) 0;
    border-bottom: 1px solid #ddd;
  }

  .o-page-logo {
    color: var(--color-error);
  }

  .o-page-header__button {
    position: absolute;
    top: 50%;
    width: 2em;
    font-size: var(--text-font-size-xlarge);
    text-align: center;
    transform: translateY(-50%);

    &--left {
      left: 1em;
    }

    &--right {
      right: 1em;
    }
  }
}

site-nav {
  stencil-route-link a {
    display: inline-block;
    margin: 0;
    padding: 0.25em;
    color: var(--color-default);
    text-decoration: none;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
  }

  stencil-route-link .link-active {
    color: #fff;
    background-color: var(--color-brand);
  }

  li {
    margin-bottom: 0.5em;
  }

  .c-overlay[aria-hidden],
  aside.o-drawer {
    position: fixed;
    z-index: 1000;
  }

  .c-overlay {
    transition: visibility 0s 0.3s, opacity 0.3s;
  }

  .c-overlay--visible {
    transition: opacity 0.3s;
  }

  @include screen-and-up(super) {
    .c-overlay[aria-hidden],
    .c-button--close,
    .o-page-header__button {
      display: none;
    }

    aside.o-drawer.o-drawer--left {
      transform: translateX(-1%);
      visibility: visible;
    }

    .o-drawer.u-highest {
      box-shadow: none;
    }
  }

  aside.o-drawer {
    transition: transform 0.3s;
  }
}

home-page {
  .c-site-header {
    padding: 0;
    font-weight: normal;
    font-size: 4em;
    text-align: center;

    &__highlight {
      display: inline-block;
      margin: 50px 0;
      padding: 0 20px;
      color: white;
      font-weight: bold;
      background-color: var(--color-error);
      border-radius: var(--border-radius);
    }
  }

  i.fa-fw {
    color: transparent;
    background-clip: text;
  }

  .fa-accessible-icon {
    color: #2c3e50;
  }

  .fa-js-square {
    color: #f1ac2c;
  }

  .fa-hand-paper {
    color: #2caad4;
  }

  .fa-mobile {
    color: #4e5851;
  }

  .fa-cogs {
    color: #d146c3;
  }

  .fa-github {
    color: #000;
  }

  .fa-code-branch {
    color: #59b458;
  }

  .fa-gavel {
    color: #9e4747;
  }

  @include screen-and-up(small) {
    .c-site-header {
      font-size: 6em;
    }
  }

  .c-input-group {
    @include screen-and-up(large) {
      font-size: var(--text-font-size-large);
    }

    .c-button:first-child,
    .c-button:last-child {
      border-radius: 0;
    }
  }
}

page-template > section {
  padding-bottom: var(--spacing-super);
}

// Buttons demo
.button-demo .c-button {
  margin: 5px 0;
}

.c-card--menu[role='menu'] {
  position: relative;
}

// Colors demo
.colors-demo {
  .c-badge {
    margin: 0.5em;
    text-align: center;
  }
}

.fixed-height-demo {
  position: relative;
  height: 500px;
  overflow: hidden;
  border: 1px solid #eee;
}

.modal-demo {
  position: relative;
  height: 550px;
  overflow: hidden;
  background-image: url('https://source.unsplash.com/random');
  background-size: cover;
}

// Grid outlines
.o-grid--demo.o-grid {
  border: 2px solid #ff69b4;
}

.o-grid-key {
  font-weight: bold;
}

.o-grid-key--grid {
  color: #ff69b4;
}

.o-grid-key--grid-cell {
  color: #00bfff;
}

.o-grid-key--padding {
  color: #66bb6a;
}

.o-grid--demo .o-grid__cell {
  background-color: #b2f5b5;
  border: 2px solid #00bfff;
}

.o-grid-text {
  background-color: #fff;
}

aside.o-drawer,
.o-modal[role='dialog'],
.c-overlay[aria-hidden],
.fixed-height-demo .c-alerts {
  position: absolute;
}
