@import 'node_modules/@blaze/css/src/scss/blaze';
@import 'node_modules/@blaze/css/src/scss/mixins/tools.mediaqueries';
@import 'node_modules/@blaze/css/src/scss/mixins/utilities.visibility';

:root {
  --text-font-family-sans-serif: avenir, sans-serif;
}

body {
  overflow-x: hidden;
  font-size: 17px;
}

.c-skip-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-over-everything);

  @include visually-hidden;

  &:active,
  &:focus {
    width: auto;
    height: auto;
    overflow: auto;
    clip-path: none;
  }
}

.c-button--nude {
  color: inherit;
  background-color: transparent;
  border: 0;
}

.c-button--nude:not(:disabled):hover,
.c-button--nude:not(:disabled):active {
  background-color: transparent;
}

.u-text {
  color: #2c3e50;
  font-weight: 300;
}

.c-heading[id] a {
  font-size: 0.6em;
  vertical-align: middle;
}

aside.o-drawer {
  transition: transform 0.3s;
}

aside.o-drawer.o-drawer--left,
aside.o-drawer.o-drawer--right {
  width: 320px;
}


// Buttons demo
.button-demo .c-button {
  margin: 5px 0;
}

.c-card--menu[role='menu'] {
  position: relative;
}

// Colors demo
.colors-demo {
  .c-badge {
    margin: 0.5em;
    text-align: center;
  }
}

.fixed-height-demo {
  position: relative;
  height: 500px;
  overflow: hidden;
  border: 1px solid #eee;
}

.modal-demo {
  position: relative;
  height: 550px;
  overflow: hidden;
  background-image: url('https://source.unsplash.com/random');
  background-size: cover;
}

// Grid outlines
.o-grid--demo.o-grid {
  border: 2px solid #ff69b4;
}

.o-grid-key {
  font-weight: bold;
}

.o-grid-key--grid {
  color: #ff69b4;
}

.o-grid-key--grid-cell {
  color: #00bfff;
}

.o-grid-key--padding {
  color: #66bb6a;
}

.o-grid--demo .o-grid__cell {
  background-color: #b2f5b5;
  border: 2px solid #00bfff;
}

.o-grid-text {
  background-color: #fff;
}

aside.o-drawer,
.o-modal[role='dialog'],
.c-overlay[aria-hidden],
.fixed-height-demo .c-alerts {
  position: absolute;
}
